@media only screen and (min-width:2300px) {
footer{margin-top:-506px;} 
.innerwrapper-bg{height: 100%;}

}

@media only screen and (max-width: 1600px) {
	.login_box{ margin: 30px auto 0; }
	
}


@media only screen and (max-width: 1024px) {	
	.skill_list li span { font-size: 12px;}

	/*==================15-06-16==========*/
	.box-block{ padding: 20px; }
.steps li .step_circel{
		width: 102px;
		height: 102px;
		line-height: 102px;
		font-size: 24px;
	}
	.circle_outer{ border:15px solid #fff; }
	.steps li {margin-right: 106px;}
	.steps{ text-align: center; margin-bottom: 30px; }

	.linked-list li { display: inline-block; margin-right: 0; width: 32%;}
	.linked-list > li img { width: 16%;}
	.linked-list li span{ font-size: 14px; }
	.linked-list { margin-bottom: 30px; margin-top: 30px;}

	.line {margin: 0 -20px;}
	.input_rounded{ width: 100px; }
	.hour-box .level_left{ width: 35%; }
	.level_rightcont{ width: 65%; }
    .block_body{ padding: 48px 24px 0; }
    .skills li { margin: 0 13px 30px;}

    /*===============27-06-16===========*/
    .navbar-nav > li > a{ font-size: 16px; margin: 0 13px; padding: 10px 0; }
    .navbar-form{ margin: 3px -15px 3px 0; }
     .navbar.navbar-primary {  min-height: auto;}
     .proposal.list-sm > li { font-size: 13px;}
    .my_category li{ font-size: 13px; }
     
     /*=========find work recommended=========*/
    .company_logo img { border:  none; height: 100%; width: 100%;}
    .jobfoud-list li { margin: 8px 12px;}
    .form-inline.sort-by .form-group .form-control{ width: 185px; }

    /*================membership plan==============*/
    .membeship_box { width: 293px;}
    .membership_top::after { border-left: 147px solid transparent; border-right: 147px solid transparent;}
    .question-mark{display: none;}  
}



@media only screen and (max-width: 900px) {
	.login_box{ margin: 100px auto 0; }
	.reg_bg{ width: 100%; }
	.nav > li > a{ padding: 10px 0; font-size: 14px; margin: 0 5px; }
	.navbar-brand { width: 80%;}
	.navbar-brand > img { width: 100%;}
	.img-circle img{ height: 40px; width: 40px; }
	.top_nav { margin-top: 21px; margin-right: 0;}
	.main_content {  padding-top: 0;}	
	.block_top{ padding: 29px 30px;}
	.block_top_sm span{ font-size: 13px; }
	.block_top_sm{ padding: 16px; }
	.skill_list li{ padding-left: 40px; }
	.skill_list li span { font-size: 11px;}
	.block_body_sm .blue_roundedbtn{padding: 8px 18px; font-size: 15px;}
    .navbar-form{ margin: 0; padding: 0; }
    .form_search .form-control{padding: 6px 8px 6px 32px;}
	.navbar-form .form-control { width: 170px;}
	.navbar-form{ width: 170px; }
	.navbar-nav > li > .dropdown-menu { margin-top: 18px;}
	.footer_list > li {  line-height: 15px;  margin: 8px 0;}
	.footer_list li a{ /*font-size: 11px; */line-height: 15px; }
	.footer_bg h4 { margin-bottom: 30px;}

	/*==================15-06-16==========*/
	.box-block{ padding: 20px; }
.steps li .step_circel{
		width: 102px;
		height: 102px;
		line-height: 102px;
		font-size: 24px;
	}
	.circle_outer{ border:15px solid #fff; }
	.steps li {margin-right: 32px;}
	.steps{ text-align: center; margin-bottom: 30px; }

	.linked-list li { display: inline-block; margin-right: 0; width: 32%;}
	.linked-list > li img { width: 16%;}
	.linked-list li span{ font-size: 14px; }
	.linked-list { margin-bottom: 30px; margin-top: 30px;}

	.level_left { width: 45%;}
	.level_rightcont{ width: 55%; }
	.skill_name { display: inline-block; line-height: 14px; width: 70%;}
	.skill_percentage { display: inline-block; line-height: 14px; margin-top: 8px;}
	.line {margin: 0 -20px;}
	.input_rounded{ width: 100px; }
	.hour-box .level_left{ width: 45%; }
	.level_rightcont{ width: 55%; }

	.skills li { display: inline-block; margin: 0 9px 30px;}
	.block_body { padding: 48px 24px 0;}

	 .owl-controls .owl-buttons .owl-prev{ margin-left: -17px !important; }
    .owl-controls .owl-buttons .owl-next{ margin-right: -17px !important; }

    /*===============27-06-16============*/
    .block_body_sm{ padding: 15px; }

      /*=========find work recommended=========*/
    .form-inline.sort-by .form-group .form-control{ width: 200px; }
    .jobfoud-list li{ margin: 5px 23px; }     
    .company_logo img { border:  none; height: 100%; width: 100%;}
    
/*===============membership plan=================*/
.membership_top::after {
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-top: 30px solid #16abe5;
    bottom: -30px;
    content: "";
    left: 0;
    position: absolute;
}
.membeship_box {
    width: 220px;
}
.plan_list > li{ font-size: 13px; }
.membership_bottom .blue_roundedbtn { width: 100%; font-size: 16px;}

/*=============Post a PRoject=============*/
.bullet_heading{
	font-size: 24px !important;	
	overflow: hidden;
}
.upload_box{ width: 100%; margin-bottom: 10px; }
.file_uploader p {
    margin:0;
    overflow: inherit;
}
.post_project-right .blue_roundedbtn{ width: 190px; }
.linebox .level_left{width: 35% !important;}
.most_project_cont{ width: 35%; }
.project_footer .blue_roundedbtn { float: none;}
.project_footer p{ overflow: inherit; padding-left: 0;  margin-top: 15px; }
.application-section{display: none;}
.right-content{display: none;}
.resp-vtabs{padding: 0 30px;}
.left-content{padding: 0 15px; float: none; width: 100%;}

.navbar-nav li a.nav_avatar{margin-left: 10px; margin-right: 5px;}
}

@media only screen and (max-width: 767px) {

	.right_block{ margin-bottom: 50px; }
	.navbar-brand { width: auto;}
	.navbar-form{ padding: 10px 15px; }
	.navbar-brand > img { width: 85%;}
	.reginner_cont{ width: 100%; }
       /*=========15-06-16============*/
       .box-block{ padding: 20px; }
	.linked-list li { margin-bottom: 25px; margin-right: 0; width: 100%;}
	.linked-list { margin-bottom: 0; margin-top: 50px;}
	.inner_wrapper h2{ font-size: 25px; }
	.introduce_pic{display: inline-block; float: none;  margin-right: 0;}	
	.introduce_inner{ text-align: center; }
	.mob-actn{ margin-right: 0 !important; }
	.introduce_cont{ width: 100%; }
	.form-action-btn{ text-align: center; }
	.block_body_sm .blue_roundedbtn { left: 50%; margin-left: -105px;}
	.my_profilebtn { bottom: 0; float: none; left: 50%;  margin-left: -95px; margin-top: 10px; position: relative; text-align: center;}

	.level_left{ width: 100% !important;}
	.level_rightcont{ width: 100% !important; }
	.lavel_block{ padding: 30px 0; }
	.levactn_mob{ margin-bottom: 60px; }
	.line { margin: 0 -20px;}
	.input_rounded{ width: 200px; }
	.hour-box .level_left{ width: 35%; }
	.level_rightcont{ width: 65%; }
	.input_rounded { width: 190px;}

    .skills li { margin: 0 15px 30px;}
    .block_body_sm .blue_roundedbtn{ font-size: 15px; }

    /*=============login page start===========*/
    .innerwrapper-bg { height: auto; padding-bottom: 100px;}
    .action_btns {float: none; text-align: center;}
     
    /*=============Registration page start===========*/ 
    .register { margin-left: 12px;}


  .owl-controls .owl-buttons .owl-prev{ margin-left: 0px !important; }
    .owl-controls .owl-buttons .owl-next{ margin-right: 0px !important; }
.forgt_psw{float: left; margin: 10px 0 0;}
.login_footer{text-align: left;}
.login_box {margin: 40px auto 0;}
.action_btns{ margin-top: 20px;}

/*=================27-06-16===============*/
.job-feed .nav-tabs > li > a{ font-size: 15px; padding: 10px 15px;}
.tab-link1{ margin: 0 10px; }
.skill_list li.view{ padding-left: 40px; }

/*==find work recommended==*/

.jobfoud-list li { margin: 13px 8px;}
.block_logo { float: none; margin-bottom: 20px; margin-right: 0; text-align: center; width: 100%;}
.btn_secondary{ padding: 3px 8px; }

/*==============membership plan================*/
.membership_top::after {
    border-left: 145px solid transparent;
    border-right: 145px solid transparent;
    border-top: 30px solid #16abe5;
    bottom: -30px;
    content: "";
    left: 0;
    position: absolute;
}
.membeship_box {
	margin: 0 auto 30px;
    width: 290px;
}
/*===============post a Project==============*/
.bullet_heading{
	font-size: 20px !important;	
	overflow: hidden;
}
.project_cont{
	margin-left: 0;
}
.file_uploader p {
    margin:0;
    overflow: inherit;
}
.upload_box{ margin-bottom: 10px; width: 100%;}
.select_sm {
    float: none;
    margin-bottom: 10px !important;
    margin-right: 0 !important;
    width: 100%;
}

.most_project_cont {
    width: 50%;
}
.cusotpminput { font-size: 11px;}

.linebox .level_left{width: 88% !important; margin-bottom: 20px;}
.view_link { font-size: 15px;}
.project_footer .blue_roundedbtn{ float: none; }
.project_footer p { overflow: inherit; padding-left: 0; padding-top: 20px;}

.post_project-right .blue_roundedbtn {
    left: 50%;
    margin: 15px 0 0 -100px;
    position: relative;
    text-align: center;
    width: 200px;
    bottom: 0;
}

}


@media only screen and (max-width: 700px) {
	.registration_bg{ height: auto; padding-bottom: 50px; }
	.login_box{width: 90%;}
	.loging_social{ margin: 30px 8px; }
	.orclass{ margin: 50px 0; }
	.right_box {  padding-bottom: 50px;}
	.logo{ width: 100%; text-align: center; }

	.reg-heading { font-size: 30px;}
	.sign_email::after{ width: 0; background: none; }
	.input input{ width: 100%; }
	.regprocess_box h2{ font-size: 22px; }
	.registration_page2 {  height: auto;}

	/*============inner page=========*/
	 .dropdown.mob-version { display: none;}
	.navbar-default .navbar-toggle{margin-top: 29px; }
	.mobile_notification_btn { position: absolute; right: 138px; top: 36px; display: inline-block;}
	.mobile_profile_btn { position: absolute; right: 75px; top: 26px; display: inline-block;}
	.mobile_profile_btn .dropdown-menu{ margin-right: -30px; margin-top: 30px;}
     .mobile_notification_btn .dropdown-menu{ margin-right: -35px; margin-top: 33px;}
     .navbar-form{ width: 100%; margin: 0; }

     .block_body { padding: 48px 11px 0;}
     
     .right_block{ margin-bottom: 50px; }
     .footer_listblock { margin-bottom: 50px;}     
     .lang_btn{ display: block; }
     .login_box h2{font-size: 30px;}
    
     .header-container .action_btns{display: none;}
     .action_btns.responsive-btn{float: none; display: block; margin: 50px auto 0;}
     .action_btns.responsive-btn a{margin: 0px; width: 100%; padding: 9px 20px 9px 15px;}

}



@media  screen and (min-width: 415px) and ( max-width: 736px) {

/*==================15-06-16==========*/
.steps li .step_circel{
		width: 70px;
		height: 70px;
		line-height: 70px;
		font-size: 24px;
	}
	.circle_outer{ border:10px solid #fff; }
	.steps li {margin-right: 35px;}
	.steps{ text-align: center; }
	
}


@media  screen and (min-width: 320px) and ( max-width: 414px) {
	.steps li .step_circel{
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 24px;
	}
	.circle_outer{ border:10px solid #fff; }
	.steps li {margin-right: 35px;}
	.steps{ text-align: center; }
	.line_btn, .submit_btn, .nobg_btn{ padding: 8px 14px; }
	.skills{ text-align: center; }
	
}

@media  screen and (min-width: 320px) and ( max-width: 479px) {
	.skills li { display: inline-block;  margin: 0 23px 30px;}
	.block_body{  padding: 48px 11px 0; }
	.action_btns a{font-size: 1.2em;}


/*============POST a PROJECT===========*/
	.bullet_heading{
	font-size: 20px !important;
	line-height: 24px !important;	
	overflow: hidden;
}

}

@media  screen and (min-width: 480px) and ( max-width: 639px) {
.skills li { margin: 0 9px 30px;}
.block_body{  padding: 48px 11px 0; }
.recruiter-top .right .all-job{width: 50%;}
}
@media  screen and (min-width: 641px) and ( max-width: 767px) {
.skills li { margin: 0 17px 30px;}
.block_body { padding: 48px 15px 0;}
.recruiter-top .right .all-job{width: 50%;}
}

/*29-06-16*/
@media  screen and (min-width: 980px) and ( max-width: 1199px) {
.block_top_sm h4{line-height: 26px;}
.search-grid .search-drop-box .form-group .form-control{width: 175px;}
.person-details-content li{margin-right: 12px;}
.save-data-btn{margin-left: 3px;}
.data-expert-block .blue_roundedbtn{font-size: 15px;}
.data-expert-block .save-data-btn{font-size: 15px;}
.search-grid-wrap .block_content{padding-right: 50px;}
.recruiter-top .right{width: 60%;}
.recruiter-top .left{width: 40%;}
}

@media  screen and (min-width: 768px) and ( max-width: 979px) {
.block_top_sm h4{line-height: 26px;}
.search-grid .search-drop-box .form-group .form-control{width: 100%;}
.person-details-content li{width: 48%; padding-right: 2%; margin-right: 0px;}
.save-data-btn{margin-left: 0px; margin-top: 10px;}
.archive-tag{padding-left: 0px;}
.archive-tag ul li a{font-size: 13px;}
.search-grid-wrap .block_content{padding-right: 0px;}
.search-grid h3{font-size: 22px; padding-right: 45px;}
.recruiter-top .left{width: 100%; padding-right: 0; margin-bottom: 10px;}
.recruiter-top .right{width: 100%; padding-right: 0px;}
.recruiter-top .right .all-job{width: 100%;}
.recruiter-top .right .archive-tag{padding-left: 0px; margin-top: 5px;}
}

@media only screen and (max-width: 767px) {
.search-grid .search-drop-box .form-group .form-control{width: 100%;}
.person-details-content li{margin-right: 0px; width: 100%;}
.search-grid h3{font-size: 24px;}
.save-data-btn{margin-left: 0px; margin-top: 7px;}
.block_top_sm h4{line-height: 26px;}
.person-details-content{margin-bottom: 10px;}
.search-results .block_content .fa.fa-clock-o{margin-left: 5px;}
.my-recruiter .left{padding-right: 0px; margin-bottom: 15px;}
.my-recruiter .right{padding-right: 0px; padding-left: 0px; margin-bottom: 5px;}
.recruiter-top .right .all-job{width: 100%;}
.search-grid-wrap .block_content{padding-right: 0px;}
.recruiter-top .left{width: 100%; padding-right: 0; margin-bottom: 10px;}
.recruiter-top .right{width: 100%; padding-right: 0px;}
.recruiter-top .right .archive-tag{padding-left: 0px; margin-top: 8px;}
}

@media only screen and (max-width: 479px) {
.search-results .block_content{padding-left: 65px;}
.search-action li{padding-right: 3px;}
.search-action li a{padding-right: 5px; font-size: 13px;}
}
