html,
body {
    height: 100%;
}
.wrapper {
    position: relative;
    z-index: 3;
}
.log_header {
    position: relative;
    z-index: 3;
    width: 100%; padding: 0 25px;
}
a{ transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; }

@media only screen and (min-width: 1100px) {

.log_header{padding: 0 50px;}

}

.registration_bg {
   
    color: #5b5a56;
    height: 100%;
}
.innerwrapper-bg{
     background: #ede9dd;
     /*height: 100%;*/
     padding-bottom: 100px;
}
.registration_page2 {
    height: 100%;
}
.reg_bg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.logo {
    display: inline-block;
    padding: 20px 0;
}
.reg_maincont {
    margin-top: 100px;
}
.social_box h2 {
    position: relative;
    padding-left: 14px;
    font-size: 24px;
}

.social_box h2:before {
    content: "•";
    font-size: 30px;
    left: -6px;
    position: absolute;
    top: -3px;
}

.social_box .active {
    color: #0aaeff;
}
.regprocess_box h2 {
    position: relative;
    padding-left: 14px;
    font-size: 24px;
}
.regprocess_box h2.active {
    color: #0aaeff;
}
.regprocess_box {
    padding-bottom: 80px;
}
.social_box {
    padding: 20px 0 27px;
}
.regprocess_box h2:before {
    content: "•";
    font-size: 30px;
    left: -6px;
    position: absolute;
    top: -3px;
}
.regprocess_box.active p {
    color: #000;
}
.social_icon {
    display: inline-block;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-top: 10px;
}
.normal-txt {
    font-size: 16px;
}
.sign_email {
    font-size: 22px;
    margin: 10px 0;
    position: relative;
    margin: 41px 0 50px;
}
.sign_email:after {
    position: absolute;
    width: 150px;
    content: "";
    height: 1px;
    background: #5b5a56;
    bottom: 8px;
    right: auto;
}
.input {
    margin: 20px 0;
}
.disabledbutton {
  /* height: 55px; top: 115px;*/
    opacity: 0.3;
}
.regprocess_box.active h2 {
    color: #0aaeff;
}


h5{ color: #000; }
ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}
.input input {
    background: transparent;
}
.input input:focus {
    border: 2px dashed #999;
    border-radius: 8px;
}
.input input {
    border: none;
}
.input input {
    animation: blink-empty 1s infinite;
    border-left: transparent solid 1px;
    height: 50px;
    font-size: 40px;
    color: #0aaeff;
    display: block;
}
@keyframes blink-empty {
    50% {
        border-left: 1px solid #333;
    }
}
.register_btn {
    padding: 8px 50px;
    background: #0aaeff;
     border-radius: 30px;
     -moz-border-radius: 30px;
     -webkit-border-radius: 30px;
    color: #fff;
    font-size: 18px;
    border: none;
}
.btn-outer {
    border: 1px solid #999998;
    display: inline-block;
    float: left;
    padding: 3px;
    margin-top: 10px;
    color: #0aaeff;
}
.regokbtn {
    background: #0aaeff;
    border: 1px solid #0091e2;
    color: #fff;
    padding: 5px;
}
/*=====================Login page css ====================*/
.action_btns {
    float: right;
    margin-top: 72px;
}
.action_btns a {    
    font-size: 1.4em;
}
.toplink {
    background: #24abe2 none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    padding: 5px 20px 5px 15px;
    text-decoration: none;
}
.top_heading {
    color: #0aaeff;
    font-size: 42px;
}

.login_box {
    width: 318px;
    margin: 0 auto;
    position: relative;
    z-index: 3;    
    color: #000;
}

.login_header {
    text-align: center;
}
.login_box h2 {
    color: #24abe2;
    font-size: 42px;
}
.loging_social {
    display: inline-block;
    margin: 30px 12px 25px;
}


.another_opt::after {
    background: #000 none repeat scroll 0 0;
    bottom: 46%;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
.another_opt {
    position: relative;
    margin-bottom: 10px;
}
.another_opt span {
    background: #ede9dd;
    padding: 15px;
    position: relative;
    z-index: 2;
    display: inline-block;    
    color: #000;
}
.btn-info {
    background: #0aaeff;
    border: none;
}

.login_box .blue_roundedbtn {
    display: block;
    width: 100%;
}

.login_box .btn-info {
    display: block;
    width: 100%;
    font-size: 18px;
}
.login_box .checkbox {
    margin: 0;
}
.login_footer {
    text-align: center;
}
.login_footer p{ margin: 0; }
.forgt_psw {
    float: right;
}

/*=========================registration==================*/
.create-btn{
    margin-top: 50px;
}
.register{ margin-left: 20px; }



/*=========================registration-2 step 1==================*/

.blue_btn {
    background: #0aaeff;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 12px;
    width: 200px;
}
.blue_btn:hover {
    background: #0394db;
    text-decoration: none;
    color: #fff;
}

.reg_box2 .blue_roundedbtn {
    width: 220px;
}

.reg_box2 h3 {
    margin: 30px 0;    
    font-size: 22px;
}

.reginner_cont {
    margin: 0 auto;
    width: 80%;
}

.orclass {
    font-size: 30px;
    margin-top: 130px;
    color: #0aaeff;   
}
.reg_part2 {
    margin-top: 80px;
}
.reg-heading {
    font-size: 45px; color: #24abe2;
}
/*=====================skill select=============*/

.inner_wrapper {
    height: 100%;
}
.main_content {
    padding-top: 0;
    margin-bottom: 70px;
}
.inner_wrapper h2 {    
    font-size: 30px;
    margin: 0 0 10px;
    line-height: 34px;
    color: #0aaeff;
}
.top_nav {
    margin-top: 25px;
}
.avatar_active .open > a,
.avatar_active .open > a:hover,
.avatar_active .open > a:focus {
    background: none !important;
}
.dropdown-toggle .fa {
    color: #555;
}
.img-circle img {
    border: 1px solid #c0c0c0;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.img-circle {
    padding: 0 !important;
}
.navbar {
    box-shadow: 0 0 4px #999;
}
.navbar-nav > li > a {    
    font-size: 18px;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 28px;
}
.navbar-nav li a.nav_avatar{font-size: 15px; padding-right: 0px; color:#000 !important; margin-right: 0px;}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000;
}
.left_block {
    margin-top: 20px;
}
.block_top {
    background: #f0f0f0 none repeat scroll 0 0;
    border: 1px solid #d8d8d8;
    border-radius: 4px 4px 0 0;
    padding: 44px 30px;
}
.block_body {
    border-color: #d8d8d8;
    border-radius: 0 0 4px 4px;
    border-style: none solid solid;
    border-width: medium 1px 1px;
   padding:48px 31px 0;
    
}
.skills {
    font-size: 0;
}
.skills li {
	display: inline-block;
	margin: 0 25px 30px;
    vertical-align: top;  
}
 
.skill_outer {
    text-align: center;
    width: 87px;
}
.skill_bg{
	background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    height: 87px;
    text-align: center;
    width: 87px;
    transition: all 0.5s ease;   
}

.skills > li a {
    margin-top: 13px;
}
.skills li p {
    margin-top: 10px;
    font-size: 14px;
    
}
.skill_bg:hover, .skill_bg.active{ background:#24abe2; cursor: pointer; }

.skill-icon01,
.skill-icon02,
.skill-icon03,
.skill-icon04,
.skill-icon05,
.skill-icon06,
.skill-icon07,
.skill-icon08,
.skill-icon09,
.skill-icon10{
	background: url(../images/skill-sprite.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: inline-block;
}
.skill-icon01{
	background-position: 0 0;
	width: 62px;
	height: 63px;
}
.skill_bg:hover .skill-icon01 ,.skill_bg.active .skill-icon01{
	background-position: 0 -80px;
}

.skill-icon02{
	background-position: -88px 0;
    height: 60px;
    width: 64px;
}
.skill_bg:hover .skill-icon02, .skill_bg.active .skill-icon02{
	background-position: -88px -80px;
}

.skill-icon03{
	background-position: -181px 0;
    height: 56px;
    width: 56px;
}
.skill_bg:hover .skill-icon03, .skill_bg.active .skill-icon03{
	background-position: -181px -80px;
}

.skill-icon04{
	background-position: -263px -1px;
    height: 66px;
    width: 66px;
}
.skill_bg:hover .skill-icon04, .skill_bg.active .skill-icon04{
	background-position: -263px -81px;
}

.skill-icon05{
	background-position: -356px -1px;
    height: 66px;
    width: 66px;
}
.skill_bg:hover .skill-icon05, .skill_bg.active .skill-icon05{
	background-position: -356px -81px;
}

.skill-icon06{
	background-position: -443px -1px;
    height: 66px;
    width: 66px;
}
.skill_bg:hover .skill-icon06, .skill_bg.active .skill-icon06{
	background-position: -443px -81px;
}

.skill-icon07{
	background-position: -535px 0px;
    height: 66px;
    width: 66px;
}
.skill_bg:hover .skill-icon07, .skill_bg.active .skill-icon07{
	background-position: -535px -80px;
}

.skill-icon08{
	background-position: -631px 0px;
    height: 64px;
    width: 67px;
}
.skill_bg:hover .skill-icon08, .skill_bg.active .skill-icon08{
	background-position: -631px -80px;
}

.skill-icon09{
	background-position: -725px 0px;
    height: 66px;
    width: 66px;
}
.skill_bg:hover .skill-icon09, .skill_bg.active .skill-icon09{
	background-position: -725px -80px;
}

.skill-icon10{
	background-position: -794px 0;
    height: 38px;
    width: 77px;
}
.skill_bg:hover .skill-icon10, .skill_bg.active .skill-icon10{
	background-position: -794px -80px;
}
.skill_bg .skill-icon10 {
    margin-top: 23px;
}


.right_block{ margin-top: 20px; }

.block_top_sm {
    background: #8e8e8e;
    border: 1px solid #d8d8d8;
    border-radius: 4px 4px 0 0;
    padding: 30px 15px;
    color: #fff;
}
.block_body_sm {
	background: #f0f0f0;
    border-color: #d8d8d8;
    border-radius: 0 0 4px 4px;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    padding: 25px;
    min-height: 403px;
    position: relative;
}
.skill_percent { float: left; margin-right: 10px;}
.block_top_sm h2{  color: #fff; font-size: 32px; margin: 0; }
.block_top_sm span{ font-size: 16px; color: #fff; }

.skill_list li{ background: url(../images/skill-list-bullet.png); background-repeat: no-repeat; background-position: 0 0; height: 30px; margin-bottom: 25px; padding-left: 50px;  line-height: 28px; }
.skill_list li.view{ background: url(../images/view-icon.png); background-repeat: no-repeat; background-position: 0 6px; height: 30px; margin-bottom: 25px; padding-left: 50px;  line-height: 28px; }
.skill_list li span{ font-size: 14px; }
.skill_percentage { float: right;}
.blue_roundedbtn {
    /*font-family: 'pf_centro_slab_proregular', Arial;*/     
    background: #24abe2;
    border-radius: 30px;
    bottom: 40px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 8px 20px;
    
}
.block_body_sm .blue_roundedbtn {
    position: absolute;
}
.blue_roundedbtn:hover{background: #04a0ed; color: #fff; text-decoration: none;}
.footer_inner{ background: url(../images/footer-bg.png); background-repeat: no-repeat; background-position: center top; width: 100%; padding: 25px 0; min-height: 455px;  }
.footer_bg{ background: #24abe2; }
footer{ color: #fff;}
.footer_list li a{ color: #fff;  font-size:14px; }
.footer_list a:hover, .footer_buttomlink li a:hover { color: #000;}
.footer_bg h4 { margin-bottom: 30px; text-transform:uppercase;}
.footer_list > li { margin: 8px 0;}
.footer_social { margin: 5px 3px 0; display: inline-block;}
.language_btn, .language_btn:hover {
    background: #2598c7 none repeat scroll 0 0;
    border: 1px solid #65d0fb;
    box-shadow: none;
    color: #fff;
    line-height: 30px;
}
.lang_btn{ margin-top: 50px; }
.language_btn .glyphicon {
    font-size: 30px;
    margin-right: 8px;
    vertical-align: middle;
}

.footer_buttom{ border-top: 1px solid #54ccfd; margin-top: 50px; padding-top: 20px; }
.footer_buttomlink li{ display: inline-block; border-right: 1px solid #fff; line-height: 13px; }
.footer_buttomlink li:last-child{ border-right: none; }
.footer_buttomlink li a { padding: 0 15px 0 10px; font-size: 13px; line-height: 13px; color: #fff;  }
.footer_buttomlink li:first-child a{ padding-left: 0; }
.copyright { margin-top: 10px;  font-size:13px;}
.mobile_notification_btn{ display: none; }
.mobile_profile_btn{ display: none; }

.form_search{ position: relative; }
.form_search .form-control{/*padding: 6px 12px 6px 32px;*/ padding: 6px 36px 6px 34px;}
.search_icon{ background: url(../images/search-icon.png); background-repeat: no-repeat; background-position: 0 0; width: 17px; height: 17px; position: absolute; top: 10px; left: 10px; width: 17px; }


/*====================================create your profile worker====================*/
.my_profilebtn{ float: right;  }
.block_body h4{ margin: 0 0 20px; color: #0aaeff; }
.profile_create_block { padding: 20px;}
.profile_box p span{ font-size: 13px;}
.profiledetails-txt{  line-height: 20px; }
.creatprofile_block .block_top {  padding: 16px;}
.profile_rightblock .block_body_sm { min-height: 315px;}


#profile-slider .item{        
        padding: 20px 0px 2px;
        margin: 5px;        
        text-align: center;
    }
    .profilesucess_img img {
    box-shadow: 0 0 2px #d6d6d6;
    margin-bottom: 15px;
    padding: 3px;
}
.owl-buttons {
    position: absolute;
    top: 32%;
    width: 100%;
}

.owl-controls .owl-buttons .owl-prev{ float: left; background: url(../images/prev-btn.png); background-repeat: no-repeat; height: 37px; width: 13px; margin-left: -8px !important; }
.owl-controls .owl-buttons .owl-next{ float: right; background: url(../images/next-btn.png); background-repeat: no-repeat; height: 37px; width: 13px; margin-right: -8px !important; }

/*============================introduce page==========================*/

.steps {
    position: relative;
    margin-bottom: 63px;
}
.steps::after {
    background: #898989;
    bottom: 50%;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 99%;
    z-index: 1;
}
.steps li {
    display: inline-block;
    margin-right: 148px;
}
.steps > li:last-child {
    margin-right: 0;
}

.circle_outer {
    border: 20px solid #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: relative;
    z-index: 2;
}

.steps li .step_circel {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #898989;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    font-size: 29px;
    height: 108px;
    line-height: 108px;
    position: relative;
    text-align: center;
    width: 108px;
    z-index: 2;
    color: #898989;    
}
.steps li.active .step_circel {
    border: 1px solid #0aaeff;
    color: #0aaeff;
}
.box-block{ padding: 35px; background: #fafafa; border: 1px solid #d3d3d3; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; }
.block-marging{ margin-bottom: 30px; }
.box-block h2{ margin-bottom: 5px; }

.linked-list{ margin-top: 50px; margin-bottom: 50px;}
.linked-list li {
    display: inline-block;
    /*margin-right: 84px;*/
    width: 32.9%;
    padding: 0 2%;
    text-align: center;
}
.linked-list > li:last-child {
    margin-right: 0;
}
.linked-list li span {
    display: inline-block;
    font-size: 19px;
   /* padding-left: 10px;*/
   padding-top: 5px;
   color: #000;
   width: 100%;
   clear: both;
}
.linked-list li .icon{display: inline-block; background: url(../images/link-grey-icon.png) 0 0 no-repeat; width: 90px; height: 92px;}
.linked-list li .icon:hover{background: url(../images/link-blue-icon.png) 0 0 no-repeat;}
.linked-list li .icon .fa-2{color: #fff; font-size: 36px; line-height: 88px;}

.introduce_inner { margin-top: 30px; }
.introduce_pic {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 0 5px #c0bfc0;
    float: left;
    margin-right: 30px;
    padding: 5px;
}
.introduce_pic img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.introduce_cont {
    float: left;
    margin-top: 25px;    
}
.introduce_cont label {
    display: block;
    font-weight: normal; font-size: 17px; 
}
.introduce_actionbtn{   
    font-size: 14px;
    margin-right: 15px;
}
.introduce_actionbtn .fa{ font-size: 21px; }
.dash-devider {
    border-top: 1px dashed #b4b4b4;
    margin: 15px 0;
}
.form-action-btn {
    margin-top: 50px;
}

.introduce_form {
    margin-top: 65px;
}
.introduce_form .form-group {
    margin-bottom: 30px;
}

.line_btn, .submit_btn, .nobg_btn {
    border-radius: 30px;
    padding: 8px 20px;
    margin:10px 3px 0;
}
.line_btn:hover, .submit_btn:hover, .nobg_btn:hover {background: #0aaeff ; color: #fff; text-decoration: none;}
.line_btn{ background: none; border: 1px solid #0aaeff; color: #0aaeff;  font-size: 18px;}
.submit_btn{ background: #24abe2 ; color: #fff; border: 1px solid #0aaeff;  font-size: 18px; }
.nobg_btn{ background: none; color: #24abe2 ; border:none; font-size: 18px;}

.introduce_form .form-group label{ font-size: 18px; color: #000000; font-weight: normal; }
.introduce_form .form-group label span{ color: #ef0000; }
.add-lng{ display: inline-block; padding-left: 30px; margin: 10px 0; }

.lavel_block {
    padding: 30px 20px;
}
.level_left {
    float: left;
    width: 30%;
}
.level_rightcont {
    float: left;
    overflow: hidden;
    width: 70%;
}
.entry-level, .intermediate-level, .expert-level {
    border-radius: 30px;
    padding: 8px 30px;
    text-transform: uppercase;
     color: #fff;
     text-align: center;
     width: 150px;
     display: inline-block; 
}
.entry-level {
    background: #2ea3b5;
   
}
a.entry-level:hover{color: #fff; background: #bbbbbb;}
.intermediate-level {
    background: #d24533;
   
}
a.intermediate-level:hover{color: #fff; background: #bbbbbb;}
.expert-level{
    background: #805280;
   
}
a.expert-level:hover{color: #fff; background: #bbbbbb;}
.line {
    border-top: 1px solid #d0d0d0;
    margin: 0 -35px;
}
.level_rightcont p {
    margin: 7px 0;
    font-size: 18px;    
    color: #000;
}

.hour-box p{ margin: 4px 0; }
.emp_histry {
    margin-top: 30px;
}
.levedit_icon{ margin-left: 3px; }
.box-block .lavel_block:last-child {
    padding-bottom: 0;
}

.input_rounded {
    border: 1px solid #000;
    border-radius: 30px;
    padding: 6px 12px;
    width: 65%;
}
.hours {
    color: #000;
    font-size: 18px;    
}

.profile-crt .introduce_pic img {
    height: 139px;
    width: 139px;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    color: #000 !important;
    background: none;
}
.introduce_cont label.new-photo{font-size: 14px;}

.add-plus{background: url(../images/skill-list-bullet.png) 0 0 no-repeat; padding: 5px 0 6px 40px;}
span.no-lang{ color: #888; font-size: 15px;}
.responsive-btn{display: none;}



/*====================MY JOB FEED==========================*/
.navbar-primary{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#159ed2+0,16b7e4+17,16abe3+83,16abe3+100 */
background: rgb(21,158,210); /* Old browsers */
background: -moz-linear-gradient(top, rgba(21,158,210,1) 0%, rgba(22,183,228,1) 17%, rgba(22,171,227,1) 83%, rgba(22,171,227,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(21,158,210,1) 0%,rgba(22,183,228,1) 17%,rgba(22,171,227,1) 83%,rgba(22,171,227,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(21,158,210,1) 0%,rgba(22,183,228,1) 17%,rgba(22,171,227,1) 83%,rgba(22,171,227,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#159ed2', endColorstr='#16abe3',GradientType=0 ); /* IE6-9 */

}
.nav-primary {
    margin-top: -19px;
}

.navbar-primary .navbar-nav > li > a{ color: #fff !important; transition: all 0.5s ease; font-size: 16px; }
.navbar-primary .nav > li > a:hover, 
.navbar-primary .nav > li > a:focus,
.navbar-primary .nav > li.active > a{
    background: none;
    color: #000 !important;
}
.navbar-primary .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-primary .navbar-toggle{
    border:1px solid #fff;
}
.nav-primary .navbar {
    border-radius: 0;
    box-shadow: none;
}

.job-feed .tab-content > .tab-pane {    
    min-height: 300px;
    padding: 20px;
}
.job-feed .block_body {
    padding: 30px 0;
}

.job-feed .nav-tabs > li.active > a, .job-feed .nav-tabs > li.active > a:hover, .job-feed .nav-tabs > li.active > a:focus, .job-feed .nav-tabs > li > a:hover {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #17ace4;
  border-color: #17ace4 #17ace4 transparent;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #fff;
  cursor: pointer;
}
.job-feed .nav-tabs > li > a{ border-radius: 0;  font-size: 18px; padding: 10px 30px; background: #8e8e8e; color: #fff;  }
.job-feed .nav-tabs > li{ margin-right: 8px; }
.job-social-link {
    display: inline-block;
    float: right;
    margin-top: 10px;
}
.tab-pane h5 {
    float: left;
}
.tab-link1{
    margin: 0 30px;
    display: inline-block;
}
.tab-link1 .fa{ color: #9c9c9c; }

.jobinfo {
    background: #09aefe none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 60px;
}
.tab-innercont {
    margin-top: 50px;
}
.big-text {
    font-size: 35px;
    line-height: 40px;
    margin-top: 20px;
    
}
.block_body_sm.my-job-right{
    min-height: 260px;
}
.block_primary_sm{ background: #16ace4; padding: 20px; }
.block_top_sm h6{ font-size: 18px; color: #fff; }
.block_body_sm.block-body-default{ min-height: auto; }
.list-sm li{ background: url(../images/bullet-sm.png); background-repeat: no-repeat; background-position: 0 5px; font-size: 16px;  margin-bottom: 10px; padding-left: 25px;  line-height: 19px; }
.my_category li{ font-size: 16px; line-height: 28px; }
.my_category li a .fa{ color: #444; }
.color-primary{ color: #16ace4; }

/*========================FIND WORK RECOMMENDED====================*/
.form-inline.sort-by label {
    font-weight: normal;
    margin-right: 30px;
}
.form-inline.sort-by .form-group .form-control {
    width: 250px;
}
.jobfoud-list li {
    display: inline-block;
    margin: 7px 23px;
}
.jobfoud-list li a .fa{ color: #9c9c9c; }
.recommend_box_sort {
    padding: 10px 0 20px;
    border-bottom: 1px solid #cecece;
}
.recommend_box {
    padding: 40px 0;
    border-bottom: 1px solid #cecece;
}
.company_logo{ width: 113px; height: 113px; background: #f0f0f0; display: inline-block; border: 1px solid #cecece; }
.company_logo img {
    border:  none;
    height: 100%;
    width: 100%;
}
.block_logo {
    float: left;
    margin-right: 25px;
}
.block_content {
    overflow: hidden;
}
.block_content .btn_secondary{ margin: 0 2px; }
.btn_secondary {
    background: #f0f0f0 ;
    border: 1px solid #cecece;
    border-radius: 8px;
    font-size: 13px;
    padding: 3px 10px;
    display: inline-block;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.btn_secondary:hover{
    background: #0aaeff;
    color: #fff;
    border: 1px solid #0aaeff;
}
.recommend_box:last-child {
    border: 0 none;
    padding-bottom: 0;
}

/*===============MEMBERSHIP PLAN=================*/
.membership_top{
    background: #16abe5;
    padding: 10px 10px 0;
    color: #fff;
    position: relative;
    text-align: center;

}
.membership_top:after{
    content: "";
    position: absolute;
    border-left: 178px solid transparent;
    border-right: 178px solid transparent;
    border-top: 30px solid #16abe5 ;
    bottom: -29px;
    left: 0;
}
.plan_name {
    display: inline-block;
    font-size: 20px;    
    width: 100%;
    margin-bottom: 10px;
}
.membership_top sup {
    font-size: 30px;
    line-height: 30px;
}
.plan_price {
    display: inline-block;
    font-size: 45px;
    line-height: 45px;   
}
.plan_time {
    display: inline-block;
    font-size: 27px;
    line-height: 27px;
    margin-bottom: 0;
}
.membership_part{ margin-top: 50px; }
.membership_body {
    background: #f0f0f0;
    padding: 60px 20px;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
}
.plan_list > li {
    font-size: 16px;
    line-height: 26px;
    position: relative;
    padding-left: 15px;
}
.plan_list > li:before{
    position: absolute;
    content: "•";    
    font-size: 16px;
    top: 0;
    left: 0;  

}
.membership_bottom {
    background: #e4e4e4;
    border-bottom: 1px solid #cecece;
    border-left: 1px solid #cecece;
    border-radius: 0 0 5px 5px;
    border-right: 1px solid #cecece;
    padding: 20px;
    text-align: center;
}
.plan_lern {
    color: #000;
    display: block;
    margin: 10px 0 0;
    width: 100%;
}
.membership_bottom .blue_roundedbtn {
    width: 200px;
}
.membeship_box {
    width: 360px;
}

/*=================POST A PROJECT=====================*/
.bullet_heading{ color: #000 !important; line-height: 44px !important;  }
span.heading_numb {
    background: #24abe2;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 22px;
    height: 44px;
    line-height: 44px;
    margin-right: 15px;
    text-align: center;
    width: 44px;
    float: left;
}
.project_cont {
    margin-left: 65px;
    margin-top: 20px;
}
.gray_bg{ background: #f4f4f4; box-shadow: none; height: 44px; }
.gray_bg::-moz-placeholder{color: #9d9d9d;}
.project_cont ::placeholder{ color: #9d9d9d; }
.project_cont select{ color:#9d9d9d; }

div.styled_select {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

div.styled_select, select::after {
    background: #f4f4f4 url("../images/select-bg.jpg") no-repeat scroll right center;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    
}
div.styled_select select{width:100%;  -moz-appearance: none; -webkit-appearance: none; background-color:transparent; background-image:none; -webkit-appearance: none; border:none; box-shadow:none;}

.project_box { margin-bottom: 50px;}
.form-grop label{ font-weight: normal; }
.form_bottmtext { display: inline-block; float: right; margin-top: 10px;}

.project_box p input[type="radio"], 
.project_box p input[type="checkbox"] { position: absolute; margin-top: 9px; margin-left: 3px;  }

.project_box p input[type="checkbox"] + label.cusotpminput::before {
    background-position: 0 -25px;
}
.project_box p input[type="checkbox"]:checked + label.cusotpminput::before {
    background-position: 0 -3px;
}
input[type="radio"]:checked + label::before {
    background-position: -25px -4px;
}
input[type="radio"] + label::before {
    background-position: -25px -27px;
}
.cusotpminput{ font-size: 14px; text-transform: uppercase; }
.project_box p label.cusotpminput::before {
    background-image: url("../images/formelements.png");
    content: "";
    display: inline-block;
    height: 21px;
    left: -2px;
    position: relative;
    top: 5px;
    width: 21px;
}
.project_cont .fa-question-circle{ color: #c3c3c3; font-size: 16px; margin: 0 3px; }
.project_cont .form-group label{ text-transform: uppercase; }
.project_cont .form-grop { margin-bottom: 40px;}
.file_uploader { border: 1px dashed #cfcfcf; border-radius: 10px; padding: 20px;}

/*==========custom browse button style start===========*/
 .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile-1 + label {
    color: #fff;
    background-color: #0aaeff;
    border-radius: 30px;
    padding: 9px 35px 9px 30px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
}

.inputfile-1 + label .fa{margin-right: 5px;}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #0498e1;
}
/*==========custom browse button style end ===========*/

.upload_box {
    float: left;
    width: 250px;
}
.file_uploader p {
    margin: 0;
    overflow: hidden;
}
.file_uploader{
    margin-bottom: 50px;
}
.select_sm {
    float: left;
    margin-right: 10px !important;
    width: 110px;
}
.project_cont .form-control {
    font-size: 16px;
}

.linebox {    
    border-top: 1px solid #cecece;
    padding: 25px 0;
}
.linebox:last-child{
    border-bottom: 1px solid #cecece;
}
.check_box{ float: left; margin-right: 10px; }
.most_project_cont {
    overflow: hidden;
    width: 50%;
    float: left;
}
.most_project_cont h4 {
    margin-top: 0;
}
.price_project{
    float: right;
}
.price_project p {
    font-size: 16px;   

}
.project_block {
    margin-top: 20px;
}
.totalprice{ font-size: 16px; }
.totalprice{ float: right; }
.bottom_view_part{ margin-top: 40px; }
.view_link{ font-size: 18px; display: inline-block; }

.postproject_list li {
    margin-bottom: 40px;
}
.postproject_list li img {
    float: left;
    margin-right: 15px;
}
.postproject_list li p{  overflow: hidden; }
.post_project-right .blue_roundedbtn {
    position: static;
    text-align: center;
    width: 200px;
}
.project_footer .blue_roundedbtn {
    font-size: 28px;
    float: left;
}
.project_footer p {
    overflow: hidden;
    padding-left: 20px;
    padding-top: 7px;
}
.video_box img {
    width: 100%;
}

/*======================= Find job4 Start =======================*/

.job-feed .block_body.findjob{padding: 0px;}
.block_top_sm h4 {color: #fff; line-height: 64px; font-size: 18px; margin: 0;}
.form-inline.sort-by .form-group .form-control.catagories-control{width: 100%;}
.form-inline .form-group.catagories-group{width: 100%;}
.catagories-block{display: inline-block; width: 100%; margin: 16px 0 0;}
.catagories-block h2{width: 100%; font-size: 18px; color: #000; padding: 0px; margin: 0 0 7px;}
.catagories-block ul{width: 100%; margin: 0px; padding: 0px 0 12px;}
.catagories-block ul li{width: 100%; margin: 0 0 4px; padding: 0px; list-style: none; color: #000; font-size: 14px;}
.catagories-block ul li input[type="checkbox"]{display: inline-block; margin: 3px 6px 0 0; float: left;}
.catagories-block ul li span{margin: 12px 0 0 0; display: inline-block;}
.catagories-block ul li span img{width: 100%;}
.catagories-block .form_search{margin:0 0 16px;}
.catagories-block ul.recent-search{margin: 0 0 0 12px; padding: 0;}
.catagories-block ul li a{font-size: 14px; color: #0c9fd6;}
.catagories-block ul li a:hover{color: #000;}
.like-search{margin: 0 0 25px;}
.like-search .form-inline .form-group{width: 100%;}
.jobfeed-button{border: 1px solid #cecece; font-size: 14px; color: #16ace4; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; background: #FFF; min-width: 68%; text-align: left; padding: 5px 12px 7px; transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s;}
.jobfeed-button:hover{background: #16ace4; color: #fff;}

/*======================= Find job4 End =======================*/


/*======================= 29-06-16 css Start =======================*/
.search-grid{padding:0 20px 20px;}
.search-grid .search-drop-box{ border-bottom: 1px solid #cecece; padding: 0px 0 30px;}
.search-grid .search-drop-box .form-group .form-control{width: 170px; color: #16ace4}
.search-grid h4{margin-bottom: 5px;}
.search-grid h3{margin-top: 0px;}
.search-grid-wrap .recommend_box{position: relative;}
.search-grid-wrap .block_content{padding-right: 70px;}
.data-expert-block{clear: both; margin-top: 25px;}
.person-details-content{margin-bottom: 20px;}
.person-details-content li{display: inline-block; margin-right: 45px;}
.person-details-content li:last-child{margin-right: 0px;}
.save-data-btn{color: #8e8e8e; font-size: 18px; margin-left: 10px; display: inline-block;}
.save-data-btn .fa{margin-right: 6px; color: #b9b9b9; vertical-align: middle;}
.save-data-btn:hover .fa{color: #23527c;}

.all-job .form-group{margin-bottom: 0px;}
.archive-tag ul li{display: inline-block; padding-right: 5px; font-size: 15px;}
.archive-tag ul li a{padding-right: 5px; color: #000; font-size: 15px;}
.search-results{padding: 0 20px 20px;}
.search-results .block_content{padding-left: 75px;}
.search-results .block_content p{margin-bottom: 0px;}
.search-results .recommend_box{position: relative;}
.search-results .block_content .fa.fa-clock-o{margin-left: 20px;}
.search-action li{display: inline-block; padding-right: 6px;}
.search-action li a{padding-right: 10px; color: #000; font-size: 14px;}
.block_body .search-results h4{margin-bottom: 15px;}
.block_body .search-results .tag{display: inline-block;}
.block_body .search-results .tag .fa{margin-left: 0px; color: #8e8e8e;}
.search-action{margin-bottom: 15px;}
.my-recruiter .block_body{padding: 0px;}
.recruiter-top{font-size: 0;}
.recruiter-top .left{display: inline-block; width: 50%; vertical-align: top; padding-right: 3%;}
.recruiter-top .right{display: inline-block; width: 50%; vertical-align: top;  padding-right: 3%;}
.recruiter-top .right .all-job{display: inline-block; width: 40%;}
.recruiter-top .right .archive-tag{display: inline-block; padding-left: 30px;}
/*======================= 29-06-16 css End =======================*/


/* ====================Feedback Page css start 29-06-2016==================== */
#parentVerticalTab h4 { font-size: 18px; color: #16ace4; line-height: 24px; font-weight: 400; margin: 0 0 12px; }
.resp-tabs-container .resp-tab-content h5 { font-size: 18px; color: #000; line-height: 24px; font-weight: 400; margin: 0 0 12px; }
.resp-tabs-container .resp-tab-content p { font-size: 13px; color: #5f5f5f; line-height: 24px; font-weight: 400; margin-bottom: 24px; }
.resp-tabs-container .resp-tab-content p.job { line-height: 20px; margin-bottom: 8px; }
.resp-tabs-container .resp-tab-content p.job span { color: #868686; }
.resp-tabs-container .resp-tab-content .block { padding: 30px 0 0; }
.resp-tabs-container .resp-tab-content h6 { font-size: 13px; color: #000; line-height: 19px; font-weight: 400; }
.resp-tabs-container .resp-tab-content .block span { font-size: 13px; color: #5f5f5f; line-height: 24px; font-weight: 400; display: block; margin-top: 6px; }
.resp-tabs-container .resp-tab-content .block ul { list-style: none; padding: 0 0 36px; }
.resp-tabs-container .resp-tab-content .block ul li { list-style: inside; font-size: 13px; color: #5f5f5f; line-height: 24px; font-weight: 400; margin-bottom: 0px; }
.resp-tabs-container .resp-tab-content .block textarea { width: 100%; max-width: 584px; height: 96px; resize:none; background-color: #f0f0f0; border: 1px solid #d3d3d3; padding: 10px; }
.resp-tabs-container .resp-tab-content .btn { font-size: 18px; line-height: 24px; color: #fff; font-weight: 400; background-color: #0aaeff; border-radius: 30px;    padding: 6px 24px; display: inline-block; margin: 34px 0 0; }
/* ====================Feedback Page css end 29-06-2016==================== */

.left-content{width: 16%; float: left;}
.left-content h4{color: #16ace4;}
.right-content{width: 82.5%; float: right;}
.right-content h4{color: #16ace4;}
.tab-left{float: left; width: 16%; padding-left: 36px; margin-right: 1%;}
.tab-left .more{font-size: 15px;}
.tab-left .more .fa{margin-left: 5px; color: #868686;}
.application-section{border-top: 1px solid #d3d3d3; padding-top: 15px; margin-top: 30px;}
#parentVerticalTab .application-section h4{color: #000; font-size: 16px; margin-bottom: 25px;}
.application-section ul li{display: inline-block; margin-right: 10px;}
.feedback-heading{display: inline-block; width: 100%; clear: both; margin-bottom: 10px;}
.project_box .form_bottmtext{display: none;}
.navbar-nav > li.dropdown:last-child a{margin-right: 0; margin-left: 0px;} 
.navbar-nav > li:first-child a{margin-left: 0px;}
.tag-right{position: absolute; right: -20px; top: -1px;}
.tag-left{position: absolute; left: -20px; top: -1px;}
.question-mark{margin: 10px 0 0 10px;}

/*01-07-16*/
 .recruiter-btn, .featured-btn, .urgent-btn{ -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; padding: 8px 30px;
text-transform: uppercase; color: #fff; text-align: center;  width: 150px; display: inline-block; }
.recruiter-btn {background: #16ace4;}
a.recruiter-btn:hover{color: #fff; background: #bbbbbb;}
.featured-btn {background: #805280;}
a.featured-btn:hover{color: #fff; background: #bbbbbb;}
.urgent-btn {background: #d34433;}
a.urgent-btn:hover{color: #fff; background: #bbbbbb;}


/* Header Dropdown Menu List Arrow */
.nav-topbar .dropdown-menu:before {
    width: 0;
    height: 0;
    content: "";
    border-left: solid 12px transparent;
    border-right: solid 12px transparent;
    border-bottom: solid 12px #fff;
    position: absolute;
    right: 15px;
    bottom: 100%;
}

.nav-topbar .account-dropdown .dropdown-menu:before {
    right: 25px;
}

/* Dropdown Arrow Animation */
.dropdown .dropdown-toggle i.fa-angle-down {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: transform 0.2s linear 0s, -webkit-transform 0.2s linear 0s;
               -moz-transition: transform 0.2s linear 0s, -webkit-transform 0.2s linear 0s;
                -ms-transition: transform 0.2s linear 0s, -webkit-transform 0.2s linear 0s;
                 -o-transition: transform 0.2s linear 0s, -webkit-transform 0.2s linear 0s;
                    transition: transform 0.2s linear 0s, -webkit-transform 0.2s linear 0s;
}
.dropdown.open .dropdown-toggle i.fa-angle-down {
    -webkit-transform: rotate(-180deg);
       -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
         -o-transform: rotate(-180deg);
            transform: rotate(-180deg);
}