    @font-face {
    font-family: 'pf_centro_slab_probold';
    src: url('pfcentroslabpro-bold-webfont.woff2') format('woff2'),
         url('pfcentroslabpro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_centro_slab_proregular';
    src: url('pfcentroslabpro-regular-webfont.woff2') format('woff2'),
         url('pfcentroslabpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sans_captionregular';
    src: url('pt_sans-caption-web-regular-webfont.woff2') format('woff2'),
         url('pt_sans-caption-web-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}