/**
* Application css
*/

.first_block {
    background: url(../images/bg01.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.third_block-bg {
    background: url(../images/bg03.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    top: 150%;
    z-index: 85;
    position: fixed;
    width: 100%;
    height: 100%;
}
.seventh_block{ background: #fff;  width: 100%; background-size: cover; position: absolute; height: 100%; }
.eightth_block{ background: #292929;  width: 100%; background-size: cover; position: absolute; height: 100%;  text-align: center;}
.logo {
    height: 3.938em;
    left: 3.2%;
    position: fixed;
    top: 2%;
    width: 9em;
    z-index: 9;
}
.logo img{width:inherit;}
.header_right {
    position: fixed;
    right: 3.2%;
    top: 3.2%;
    z-index: 9;
}
.header_right a {   
    font-size: 1.4em;
     font-family: 'pf_centro_slab_probold', Arial;
}
.heading_top {
    position: absolute;
    top: 19%;
    /* width: 57%;*/
}
.heading_top h2 {
    font-size: 6.1em;
    color: #63436c;
    line-height: 1em;
    font-family: 'pf_centro_slab_probold', Arial;
    margin-bottom: 10px;
    font-weight: normal;
    margin: 0 0 0.3em;
}
.btn_blue {
    font-family: 'pf_centro_slab_probold', Arial;
    color: #fff !important;
    background: #24abe2;
    font-size: 2.5em;
    padding: 30px 40px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-decoration: none;
    display: inline-block;
}
.arrow01 {
    background: url("../images/arrow01.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    bottom: 25.7143%;
    height: 5.5em;
    left: 10%;
    position: absolute;
    width: 0;
}
.searh-icon {
    background: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    bottom: 15.98%;
    height: 9.8125em;
    left: 25%;
    position: absolute;
    width: 0;
}
.arrow02 {
    background: url("../images/arrow02.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    bottom: 27.29%;
    height: 7.1875em;
    left: 47%;
    position: absolute;
    width: 0;
}
.man-img {
    background: url("../images/firstscreen_img01.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    bottom: 5%;
    height: 40.188em;
    left: 60%;
    position: absolute;
    width: 18.625em;
}
.loging.toplink.register {
    margin-left: 10px;
}
.down_arrow {
    background-image: url("../images/down.png");
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    bottom: -16%;
    display: block;
    height: 100px;
    left: 50%;
    position: absolute;
    text-decoration: none;
    width: 100px;
    margin-left: -65px;
}
.down_arrow span {
    color: #e24e41;
    display: block;
    font-size: 0.75em;
    margin-top: 2em;
    text-align: center;
    text-decoration: none;
}
.second_block .title {
    left: 11.375em;
    position: absolute;
    top: 33.067%;
}
.title h2 {
    color: #633f65;
    display: block;
    font-family: 'pf_centro_slab_probold', Arial;
    font-size: 9em;
    line-height: 0.8;
    margin-bottom: 0.25em;
}
.title span {
    color: #555555;
    display: block;
    font-size: 2.1em;
    line-height: 1.3em;
    white-space: nowrap;
}
.activity_part {
    height: 44.188em;
    left: 56.75em;
    margin-top: -22.094em;
    position: absolute;
    top: 50%;
    width: 36.563em;
    z-index: 90;
}
.circle {
    text-align: center;
    width: 10.313em;
    height: 10.313em;
}
.circle span {
    display: block;
    font-size: 1.35em;
    letter-spacing: 0.06em;
    line-height: 1em;
    margin-top: 0.7em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
}
.circle img {
    /*width: 100px;*/
}
#datascience {
    position: absolute;
    left:36.0445%;
    top:38.4397%;
}
#artificialintelligence {
    position: absolute;
    right:36.0445%;
    top:38.4397%;
}
#biometrics {
    position: absolute;
    right:36.0445%;
    bottom:38.4397%;
}
#predictiveanalytics {
    position: absolute;
    right:36.0445%;
    bottom:38.4397%; 
    z-index:1
}
#machinelearning {
    position: absolute;
    left:36.0445%;
    bottom:38.4397%;
}
#dataprocessing {
    position: absolute;
    left:36.0445%;
    top:38.4397%;
}
#youchoose {
    position: absolute;
    right: 36.0445%;
    top: 38.4397%;
}
.third_block .title {
    left: 11.375em;
    position: absolute;
    top: 33.067%;
}
.phone_img {
    bottom: 0;
    height: 50.75em;
    left: 58.625em;
    position: absolute;
    width: 31.937em;
    z-index: 10;
}
.ph_avator01 {
    border: 20px solid #fff;
    border-radius: 50%;
    left: 29%;
    position: absolute;
    top: 22.5%;
    width: 34%;
    background: #fff;
}
.card {
    left: 4em;
    position: absolute;
    top: 53.248%;
    width: 24.25em;
}
.phone_text {
    left: 4em;
    position: absolute;
    text-align: center;
    top: 51.7961%;
    width: 24.25em;
}
h4.name {
    color: #ffffff;
    font-family: "pf_centro_slab_probold", Arial;
    font-size: 2.063em;
    font-weight: normal;
    line-height: normal;
    margin: 0.6em 0 0.1em;
}
.post {
    color: #bbe7d5;
    font-size: 1.375em;
    margin: 0 0 1.7em;
}
.what_todo {
    font-size: 1.5em;
    margin: 0 0 0.25em 3.4em;
}
.what_todo,
.where_todo {
    color: #7cc0aa;
    font-size: 1.5em;
    margin: 0 0 0.25em 4.4em;
    float: left;
}
.where_todo::before {
    background-image: url("../images/pin.png");
    background-position: 0 50%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    content: "";
    display: inline-block;
    height: 0.95em;
    margin: 0 0.5em 0 0;
    width: 0.75em;
}
.where_todo {
    font-size: 1.25em;
    margin: 0 0 0 5.35em;
}
.message {
    color: #7cc0aa;
    font-size: 1.25em;
    line-height: 1.2;
    margin: 0.75em 1.47em;
    text-align: left;
}
.place {
    background-color: #ff902c;
    border-radius: 0.69em;
    color: #ffffff;
    font-family: "pf_centro_slab_probold", Arial;
    font-size: 1.813em;
    font-weight: normal;
    left: 0.107em;
    line-height: normal;
    padding: 3.8742% 0 3.4742%;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 110.6%;
    width: 13.3em;
}
.dark_bg {
    background-color: rgba(0, 0, 0, 0.74);
    height: 100%;
    display: none;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.ticket {
    background-image: url("../images/ticket.png");
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    height: 29.125em;
    left: 50%;
    position: relative;
    top: 150%;
    width: 40em;
    margin-left: -20em;
}
.fourth_block h2 {
    color: #f2efe6;
    display: none;
    font-size: 8.5em;
    line-height: 0.8;
    margin-top: 1.5em;
    position: relative;
}
.side_nav {
    position: fixed;
    top: 50%;
    right: 5%;
    width: 1em;
    height: 210px;
    margin-top: -105px;
    z-index: 1000;
}
.side_nav li {
    display: inline-block;
    cursor: pointer;
}
.side_nav li span {
    display: inline-block;
    text-indent: -9999px;
    background: #6b5477;
    width: 0.8em;
    height: 0.8em;
    margin: 5px 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.side_nav li span:hover {
    background: #e34f42;
    -moz-box-shadow: 0 0 2px 2px #c7c7c7;
    -webkit-box-shadow: 0 0 2px 2px#c7c7c7;
    box-shadow: 0 0 2px 2px #c7c7c7;
}
.side_nav li.active-nav span {
    background: #e34f42;
    -moz-box-shadow: 0 0 2px 2px #c7c7c7;
    -webkit-box-shadow: 0 0 2px 2px#c7c7c7;
    box-shadow: 0 0 2px 2px #c7c7c7;
}
.fifth_block h2 {
    color: #633f65;
    display: block;
    font-family: "pf_centro_slab_probold", Arial;
    font-size:6.6em;
    font-style: normal;
    left: 0em;
    line-height: 0.81;
    position: absolute;
    top: 1.45em;
    white-space: nowrap;
    opacity: 0;
}
/*.make_selection {    bottom: 14.83%; height: 34.625em;  left: 2.98%; position: absolute; width: 24.25em; left: 3.98%;}
.make_selection1 {    bottom: 14.83%; height: 34.625em; left: 2.98%; position: absolute; width: 24.25em;  left: 30.36%;}
.make_selection2{    bottom: 14.83%;  height: 34.625em; left: 2.98%; position: absolute; width: 24.25em; left: 60.1%;}
.make_selection3 {    bottom: 14.83%; height: 34.625em; left: 2.98%; position: absolute; width: 24.25em; left: 90%;}*/

.selection_box img {
    opacity: 0;
}

.make_selection {
    bottom: 14.83%;
    height: 34.625em;
    position: absolute;
    width: 24.25em;
    left: 153.98%;
}
.make_selection1 {
    bottom: 14.83%;
    height: 34.625em;
    position: absolute;
    width: 24.25em;
    left: 180.36%;
}
.make_selection2 {
    bottom: 14.83%;
    height: 34.625em;
    position: absolute;
    width: 24.25em;
    left: 210.1%;
}
.make_selection3 {
    bottom: 14.83%;
    height: 34.625em;
    position: absolute;
    width: 24.25em;
    left: 240%;
}
.make_selection .card,
.make_selection1 .card,
.make_selection2 .card,
.make_selection3 .card {
    left: 0em;
}
.make_selection .phone_text,
.make_selection1 .phone_text,
.make_selection2 .phone_text,
.make_selection3 .phone_text {
    left: 0em;
}
.fifth_block .ph_avator01 {
    border: 20px solid #fff;
    border-radius: 50%;
    left: 6em;
    position: absolute;
    top: 2em;
    width: 9.75em; background: #fff;
}
.fifth_block .overlay_bg {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat repeat;
    bottom: 0;
    color: #fff;
    height: 43.7em;
    left: 2.5em;
    position: absolute;
    text-align: center;
    width: 26.8em;
    z-index: 15;
    opacity: 0;
}
.fifth_block .overlay_bg img{margin-top:6em ; height: 17em; width: 17.188em;}
.overlay_bg p {
    font-size: 1.7em;
}
.ovrlay {
    margin-top: 20px;
}
::-webkit-scrollbar {
    display: none;
}
::-moz-scrollbar {
    display: none;
}
/* 
  =><==><==><==><==><==><==><==><==><==><==><==><==><==><==><==><==><==><==><==><==><==><==><=
*/
/*.is-hidden {
    visibility: visible;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.is-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}*/

.is-hidden {
    display: none;
}
.is-visible {
    display: block;
}
.coming-soon {
    padding: 15%;
    font-size: 36px;
    text-align: center;
}

/* 
  =><==><==><==><==><==><==><==><==><==><==><==><==><==><==><==><==><==><==><==><==><==><==><=
*/

.chat_boxarea {
    height: 54.75em;
    top: 50%;
}
.incm_chat {
    left: 7.5em;
    position: absolute;
    top: -120%;
    width: 48.5em;
}
.incm_chat span {
    color: #ffffff;
    font-family: "pf_centro_slab_probold",Arial;
    font-size: 2.625em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    left: 5.714em;
    line-height: 1;
    position: absolute;
    top: 1.857em;
}

.chat_01 {
    left: 12.813em;
    position: absolute;
    top: 22.4em;
    width: 39em;
    display: none;
}

.chat_01 span {
    color: #6e6861;
    font-size: 1.4em;
    left: 1.1em;
    position: absolute;
    top: 1.1em;
}

.chat_02 {
    left: 12.188em;
    position: absolute;
    top: 34em;
    width: 39.813em;
    display: none;
}
.chat_02 span {
    color: #6e6861;
    font-size: 1.4em;
    left: 11.7em;
    line-height: 1.4em;
    position: absolute;
    top: 1.1em;
}
.chat_03 {
    left: 12.813em;
    position: absolute;
    top: 45.7em;
    width: 39em;
    display: none;
}

.chat_03  span {
    color: #6e6861;
    font-size: 1.4em;
    left: 1.1em;
    line-height: 1.4em;
    position: absolute;
    top: 1.1em;
}

.chat_heading{
    color: #f2efe6;
    display: block;
    font-family: "pf_centro_slab_probold",Arial;
    font-size: 6.8em;   
    font-weight: normal;
    left: 8.7em;
    line-height: 0.85;
    position: absolute;
    top: 3.5em;
    white-space: nowrap;
    display: none;
}

.down_arrow_black {
    background-image: url("../images/down_black.png");
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    bottom: 6.94%;
    display: block;
    height:8.375em;
    left: 52em;
    position: absolute;
    text-decoration: none;
    width: 8.375em;
    top: 120%;
    display: none;
   }
.down_arrow_black span {
    color: #e24e41;
    display: block;
    font-size: 1.156em;
    margin-top: 2em;
    text-align: center;
    text-decoration: none;
}

.getdone{
    color: #633f65;
    display: block;
    font-family: "pf_centro_slab_probold",Arial;
    font-size: 6.2em;
    font-style: normal;  
    left: 1.235em;
    line-height: 0.85;
    position: absolute;
    text-align: left;
    top: 1.7em;
    display: none;
}

.two_avatar {
     display: block;
    left: 1.938em;
    position: absolute;
    top: 20.5em;
    width: 44.813em;
}
.start_now {
    background: #24abe2 none repeat scroll 0 0;
    border-radius: 10px;
    bottom: 4em;
    color: #fff;
    display: inline-block;
    font-family: "pf_centro_slab_probold",Arial;
    font-size: 2em;
    left: 7em;
    padding: 25px 50px;
    position: absolute;
    text-decoration: none;
}

.phone {
    bottom: 0;
    height:53.75em;
    left: 58.625em;
    position: absolute;
    width: 31.937em;
}

.phone img.empty-phone {
    position: absolute;
    top: 150%;
}
.phone .ph_bg {   
    background-color: rgba(0, 0, 0, 0.8);
    background-position: 0 0;
    bottom: 0;
    height: 43.8em;
    left: 2.6em;
    position: absolute;
    text-align: center;
    width: 26.8em;
    opacity: 0;
}
.phone_head {
    height: 11em;
    left: 8.75em;
    position: absolute;
    top: 5.4152%;
    width: 9em;
}

.z200 {
    z-index: 200;
}

.ph_bg h4 {
    color: #ede9dc;
    font-family: "pf_centro_slab_probold",Arial;
    font-size: 2.813em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    left: 1.4em;
    line-height: 0.95;
    position: absolute;
    top: 5em;}

  .fed_button {    
    background-color: #ff902c;   
    border-radius: 0.69em;
    color: #ffffff;
    display: block;
    font-family: "pf_centro_slab_probold",Arial;
    font-size: 2.25em;   
    font-variant: normal;
    font-weight: normal;
    height: 2.25em;
    left: 0.48em;
    line-height: 2.25em;
    position: absolute;
    text-align: center;
    width: 10.972em;
}  

.fed_button.one{  bottom: 6.11em; display: none; }
.fed_button.two{  bottom: 3.416em; display: none; }
.fed_button.three{  bottom: 0.722em; display: none; }

/*.block-8{ background: #292929;  width: 100%; background-size: cover; height: 100%; text-align: center;}*/

.footer_content{
    display: inline-block;
    margin: 13.3em auto 0;
    text-align: center;
}

.footer_content h2{
    color: #f2efe6;
    font-family: "pf_centro_slab_probold",Arial;
    font-size: 9em;   
    font-weight: normal;   
    margin-bottom: 0.2em;
}
.footer_content p{ color: #f2efe6;
    display: block;
    font-size: 2.1em;
    line-height: 1.3em;
    margin-bottom: 1em;
    white-space: nowrap;
}
.footer_btn {
    background: #24abe2;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-family: "pf_centro_slab_probold",Arial;
    font-size: 4em;
    margin: 0 1em;
    padding: 30px;
    text-decoration: none;
    width: 5em;
}
.footer_icon{
    display: inline-block;
    width: 5.313em;
    margin: 4.167em 0.5em 0;
}
.footer_link{
    bottom: 2.875em;
    left: 10.976%;
    position: absolute;
}
.footer_link a{
    color: #b5aea6;
    font-size: 1.5em;
    margin-right: 1.458em;
}

.header_right .btn_blue {
    border-radius: 30px;
    font-size: 1.7em;
    font-weight: normal;
    margin-top: 0px;
    padding: 8px 20px;
}

/*==========================16-06-16====================*/
.arrow-down{
     background: url(../images/down-arrow.png);   
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    bottom: 0;
    display: block;
    height: 70px;
    left: 3.5%;
    position: fixed;
    text-decoration: none;
    width: 70px; z-index:1000;
}

.arrow-up{
     background: url(../images/up-arrow.png);   
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    bottom: 5em;
    display: block;
    height: 70px;
    left: 3.5%;
    position: fixed;
    text-decoration: none;
    width: 70px; z-index:1000;
    display: none;
}

/*.arrow-down{
     background: url(../images/arrow-down.png);   
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    bottom: 0;
    display: block;
    height: 100px;
    left: 50%;
    position: absolute;
    text-decoration: none;
    width: 100px;
    margin-left: -65px;
}*/


.bounce {
    animation: 3s ease 0s normal none infinite running bounce;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0px);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.toplink img {
    margin-right: 5px;
    vertical-align: middle;
    width: inherit;
    float:left;
}
.toplink span{ float: left; margin-top: 4px; }
.toplink {
    background: #24abe2;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    padding: 5px 20px 5px 15px;
    text-decoration: none;
}

#loading-outer {
    background-color: #fff;
    height: 100%;
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.loader-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
}
.loader-wrapper .loader img {
    width: inherit;
}
.loader {
    height: 150px;
    left: 50%;
    margin-left: -75px;
    margin-top: -75px;
    position: absolute;
    top: 50%;
    width: 150px;
}
.black_logo,
.white_logo,
.header_right,
.btn_blue,
.first_block
 {
    display: none;
}