/*
Laout CSS

*/

body {
    margin: 0;
    padding: 0;
    background: #fff;
    background: url(../images/bg02.png);
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    background-size: cover;
    position: absolute;
    height: 100%;
}

.page-header {
    z-index: 1100;
    position: absolute;
}

.main-block,
.main-container {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}

.main-block {
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 104.125em;
}

.first_block {
    z-index: 100;
}

.second_block {
    z-index: 90;
}

.third_block {
    z-index: 95;
}

.fourth_block {
    z-index: 100;
}

.fifth_block {
    z-index: 100;
}

.sixth_block {
    z-index: 100;
}

.seventh_block {
    z-index: 100;
}

.eightth_block {
    z-index: 100;
}

.third_block {
    top: 150%;
}

.seventh_block {
    top: 150%;
}